<ion-content [fullscreen]="true">

  <div id="container">
    <h4>{{memoria}}</h4>
    <h1>{{resultado}}</h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button   color="medium" (click)="redefinir()">C</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   color="medium" (click)="apagar()">←</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   color="medium" (click)="negativo()">±</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   color="warning" (click)="operador('^')">xʸ</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button   (click)="digito('7')">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   (click)="digito('8')">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   (click)="digito('9')">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   color="warning" (click)="operador('+')">+</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button   (click)="digito('4')">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   (click)="digito('5')">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   (click)="digito('6')">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   color="warning" (click)="operador('-')">-</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button   (click)="digito('1')">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   (click)="digito('2')">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   (click)="digito('3')">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   color="warning" (click)="operador('*')">*</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button   (click)="digito('0')">0</ion-button>
        </ion-col>
        <ion-col>
          <ion-button    (click)="digito('.')">.</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   color="dark" (click)="calcular()">=</ion-button>
        </ion-col>
        <ion-col>
          <ion-button   color="warning" (click)="operador('/')">/</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>



  </div>

</ion-content>